
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Gabarito", sans-serif;
 }

 .navbar{
    position:sticky;
    z-index: 2;
    background-color: white;
    top: 0;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
 }
 .navbar__s1__title{
    color: #A435F0;
 }

 .navbar__s2 svg{
    width: 15px;
   
 }

 .navbar__s2 input{
    border: none;
    width: 1000px;
   
    
 }
.navbar__s2{
    margin-left: 4%;
    padding: 10px;
  border: 1px black solid;
  border-radius: 30px;
  width: 55%;
  display: flex;
  gap: 10px;

}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3 svg{
    
    width: 6%;
    gap: 10px;
    margin-bottom: 10;
}
.navbar__s3{
    p{
        padding-top: 2%;
        width: 2;
        margin-top: 2%;
    }
}


.navbar__s3{
    display: flex;
    gap: 10px;
    margin-left: 12%;

}

.Categories{ 
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: solid black 1px;
    
}

.Categories p{
    padding: 10px;
background-color: #A435F0;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    border: solid 2px #A435F0;
}
.Categories p:hover{
    transition: 1s;
    background-color: white;
    color:#A435F0;
    border: solid 2px #A435F0;
    border-radius: 30px;
    padding: 10px;

}
.sale-image img{
    padding: 10px;
    margin-right: 10px;
    margin-left: 3px;
}
.sale-image__offer{
    width: 35%;
    border: solid 2px black;
    background-color: white;
    padding: 2%;
    position: absolute;
    z-index: 1;
    top: 42%;
    left:5%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0%;
    animation-fill-mode: forwards;
}
@keyframes zoom {
    0%{
        opacity: 0%;
        transform: scale(0);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
    
}
.Recommended{
    padding: 20px;
}
.Recommended p{
    padding-bottom: 10px;
}

.Recommended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding-bottom: -30px;

}
.course-card{
    width: 300px;
    height: 300px;
    
}
.course-card img{ width: 100%;
    height: 50%;
}
.topics{
    padding: 20px;
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.topics__container p:hover{
    background-color: #A435F0;
    transition: 1s;
    color: white;
    cursor: pointer;
}
.popular{
    padding: 20px;
    
}
.popular__title {
    p{
        margin-bottom: 10px;
    }}
    .popular__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-grow: 1;
        flex-basis: 25%;
        margin-top:10px;
        padding-bottom: 20px;
}
.footer{
    width: 100;
    padding: 30px;
    background-color: black;
    color: white;
    margin: -30px;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two__s1{
    margin: 20px;
    align-items: center;
    display: flex; 
    justify-content: space-between;   
}


